* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --hex1: rgb(100, 200, 120);
    --hex2: rgb(100, 166, 255);
    --hex3: rgb(160, 130, 255);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 34px 0 0 0;
}

main {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cards {
    width: 30%;
    margin: 21px 0;
    border-radius: 8px;
    box-shadow: 0px 8px 13px 0px rgba(100, 100, 100, .5);
}

.cards .img {
    width: 100%;
    height: 200px;
    border-radius: 8px 8px 0 0;
}

.cards .one {
    background: url('https://mir-s3-cdn-cf.behance.net/project_modules/fs/cc119488799755.5deb6970a5404.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cards .two {
    background: url('https://mir-s3-cdn-cf.behance.net/project_modules/fs/b2a3ba65750859.5afeb5b473d80.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cards .three {
    background: url('https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/f2c7f465750859.5afeb5b474e4c.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cards .four {
    background: url('https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/4663ab65750859.5afeb5b475506.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cards .five {
    background: url('https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/21c6f565750859.5afeb5b474987.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cards .six {
    background: url('https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/3da90565750859.5afeb5b473141.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.titulo {
    font-size: 1.3rem;
    font-weight: 900;
    margin: 13px 0 0 0;
    padding: 0px 13px;
}

.txt {
    font-size: .9rem;
    font-weight: 100;
    margin: 5px 0 13px 0;
    padding: 0px 13px;
}